;// _header.scss

/********** HEADER **********/

.header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: calcSize(90, $mob);
    height: calcSize(90, $mob);
    margin: 10px;

    @include mq(tablet) {
        width: calcSize(130, $tab);
        height: calcSize(130, $tab);
        margin: 10px 20px;
    }
    @include mq(desktop) {
        width: calcSize(120, $desk);
        height: calcSize(120, $desk);
        margin: 20px 30px;
    }
    &__img {
        max-width: 100%;
    }
}

.header-btn {
    margin: 10px;
    @include basic-button (calcSize(200, $mob), calcSize(100, $mob));
    
    @include mq(tablet) {
        @include basic-button (calcSize(300, $tab), calcSize(150, $tab));
        margin: 10px 20px;
        margin: 10px 20px;
        &:hover {
            box-shadow: 0 0 10px 2px $brand-color;
            text-shadow: 0 0 1px #333;
        }
    };
    @include mq(desktop) {
        @include basic-button (calcSize(200, $desk), calcSize(100, $desk));
        margin: 20px 30px;

    };

   

    &__text {
        font-size: calcSize(30, $mob);
        padding: calcSize(10, $mob);
        
        @include mq(tablet) {
            font-size: calcSize(45, $tab);            
        }
        @include mq(desktop) {
            font-size: calcSize(30, $desk);

        }
        
    }
}
