;// _modal.scss

/********** MODAL CARD **********/

.modal-card {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-color: #c9f1c8;
    border: 2px solid #3fafbc;
    box-shadow: 0 0 10px $brand-color;
    display: flex;
    flex-flow: column nowrap;
    width: calcSize(280, $mob);
    padding: calcSize(10, $mob);

    @include mq(tablet) {
        width: calcSize(560, $tab);
        padding: calcSize(20, $tab);
    }
    @include mq(desktop) {
        width: calcSize(500, $desk);
        padding: calcSize(20, $desk);
    }

    &__close {
        font-size: calcSize(20, $mob);

        @include mq(tablet) {
            font-size: calcSize(30, $tab);
        }
        @include mq(desktop) {
            font-size: calcSize(30, $desk);
        }
    }
}


.modal-form {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    padding: calcSize(20, $mob);

    @include mq(tablet) {
        padding: calcSize(20, $tab);
    }
    @include mq(desktop) {
        padding: calcSize(20, $desk);
    }
}

.select-doctor {
    font-family: 'Montserrat', sans-serif;
    outline: #3fafbc;
    appearance: none;
    border: 1px solid #666;
    border-radius: 3px;
    color: #666;
    text-transform: capitalize;;
    box-sizing: border-box;
    width: calcSize(200, $mob);
    margin: 0 auto calcSize(15, $mob);
    padding: calcSize(5, $mob);
    font-size: calcSize(16, $mob);

    @include mq(tablet) {
        width: calcSize(450, $tab);
        margin-bottom: calcSize(15, $tab);
        padding: calcSize(8, $tab);
        font-size: calcSize(22, $tab);
    }
    @include mq(desktop) {
        width: calcSize(390, $desk);
        margin-bottom: calcSize(15, $desk);
        padding: calcSize(10, $tab);
        font-size: calcSize(22, $desk);
    }
    &:focus {
        background-color: #bef8ff;
    }

    &__option {
        font-size: calcSize(12, $mob);
        @include mq(tablet) {
            font-size: calcSize(18, $tab);
        }
        @include mq(desktop) {
            font-size: calcSize(18, $desk);
        }
    }
}

.input-box {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 5px auto;
    width: calcSize(200, $mob);
    @include mq(tablet) {
        width: calcSize(450, $tab);
    }
    @include mq(desktop) {
        width: calcSize(390, $desk);
    }
}
.input-field {
    font-family: 'Montserrat', sans-serif;
    outline: #3fafbc;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 3px;
    color: #000;
    width: 100%;
    margin: 2px auto;
    padding: calcSize(5, $mob);
    font-size: calcSize (18, $mob);
    @include mq(tablet) {
        padding: calcSize(8, $tab);
        font-size: calcSize (24, $tab);
    }
    @include mq(desktop) {
        padding: calcSize(10, $tab);
        font-size: calcSize (24, $desk);
    }
    
    &::placeholder {
        color: #6ca8af;
        text-transform: capitalize;
        font-size: calcSize (18, $mob);
        @include mq(tablet) {
            font-size: calcSize (24, $tab);
        }
        @include mq(desktop) {
            font-size: calcSize (24, $desk);
        }
    }
    &:focus {
        background-color: #bef8ff;
    }
}
.input-comment {
    font-family: 'Montserrat', sans-serif;
    outline: #3fafbc;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 3px;
    color: #000;
    margin: 5px auto;
    width: calcSize(200, $mob);
    padding: calcSize(5, $mob);
    font-size: calcSize (18, $mob);
    
    @include mq(tablet) {
        width: calcSize(450, $tab);
        padding: calcSize(8, $tab);
        font-size: calcSize (20, $tab);
    }
    @include mq(desktop) {
        width: calcSize(390, $desk);
        padding: calcSize(10, $tab);
        font-size: calcSize (20, $desk);
    }
    &::placeholder {
        color: #6ca8af;
    }

    &:focus {
        background-color: #bef8ff;
    }
}

.submit-btn {
    margin: 20px auto 0;
    @include basic-button (calcSize(100, $mob), calcSize(30, $mob));
    font-size: calcSize(18, $mob);
    
    @include mq(tablet) {
        @include basic-button (calcSize(125, $tab), calcSize(40, $tab));
        font-size: calcSize(22, $tab);
        &:hover {
            box-shadow: 0 0 10px 2px $brand-color;
            text-shadow: 0 0 1px #333;
        }
    }
    @include mq(desktop) {
        @include basic-button (calcSize(150, $desk), calcSize(45, $desk));
        font-size: calcSize(22, $desk);
    }
}